.arrow-button {
    background: #ffffff15;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(20px);
    backdrop-filter: brightness(40%);

    svg {
        path {
            transition: all 0.3s ease-in-out;
        }
    }

    &:hover {
        background: #d6ed17;

        svg {
            path {
                fill: #1d1d1d;
            }
        }
    }
}
